@import 'base/mixines';
@import 'base/variables';
@import 'blocks/advantages';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/title';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    width: 945px;
    margin: 0 auto;
}
